body{
    a{
        text-decoration:none;
        color: rgb(238, 47, 255);
    }
    .flex-box{
        display:flex;
        justify-content: center;
        min-height: 400px;
        background: url(../images/logo.jpg) no-repeat;
    }
}